# Core API
fastapi==0.115.5            # requiere Pydantic v2
uvicorn==0.30.6

# DB Postgres (async)
asyncpg==0.29.0             # compatible con Py3.11+

# Utilidades
pydantic==2.9.2
python-dotenv==1.0.1
requests==2.32.3

# Data (si realmente la usas en runtime)
pandas==2.2.2
